<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ID</key>
	<string>4WQcpoEIMisKNk0ajZoqxHJnwxgJAociu0l9OX14
4WQcpoEIMisKNk0ajZoqxHJnwxgJAociu0l9OX14
4WQcpoEIMisKNk0ajZoqxHJnwxgJAociu0l9OX14
</string>
	<key>Client_Key</key>
	<string>zjh6C7KLVRPhUDC8TFzSDhQh4bqsLr1mUvbtLqHO</string>
</dict>
</plist>
